In [6]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import norm

df = pd.read_csv("/content/drive/MyDrive/Probability PPTs/Hypothesis Testing -3/aerofit.csv")

In [3]:
se = 9/np.sqrt(35)
lcv = 65-1.64*se
lcv

62.50510464004142

In [4]:
z = (61.5-65)/se
z

-2.300697693427628

In [7]:
norm.cdf(z)

0.010704362284006485

The avg age as claimed by the company of their customers is 28years. You are suspicious about their claim and collected a sample of 40 customers. You found the average to be 25. Check if the value is significant at 5% significance level. (Standard Deviation of the popluation  = 6.94)

In [8]:
# H0: MU>=28
# H1: MU<28
se = 6.94/np.sqrt(40)
z = (25-28)/se
z

-2.733957631269492

In [9]:
norm.cdf(z)

0.0031289048063806633

- alpha assumed to be at 0.05
- p value 0.003
- p is low, null will go. We reject null
- Avg age claimed by the comapny is wrong and it's less than 28

In [10]:
# H0: MU=28
# H1: MU!=28
se = 6.94/np.sqrt(40)
z = (25-28)/se
z

-2.733957631269492

In [11]:
(norm.cdf(z))*2

0.0062578096127613265

- alpha: 0.05
- p value is 0.006
- p is low, null will go. We reject null

## Two Independent Sample Z Test

In [12]:
df = pd.read_csv("/content/drive/MyDrive/Probability PPTs/Hypothesis Testing -Anova/weight-height.csv")
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [13]:
df[df['Gender']=='Male']['Height'].mean()

69.02634590621741

In [14]:
df[df['Gender']=='Female']['Height'].mean()

63.70877360342507

- H0: MU(male) <= MU(female)
- H1: MU(male) > MU(female)

In [17]:
df[df['Gender']=='Male']['Height'].shape[0]

5000

In [18]:
mu_m = df[df['Gender']=='Male']['Height'].mean()
mu_f = df[df['Gender']=='Female']['Height'].mean()

sigma_m = df[df['Gender']=='Male']['Height'].std()
sigma_f = df[df['Gender']=='Female']['Height'].std()

n1 = df[df['Gender']=='Male']['Height'].shape[0]
n2 = df[df['Gender']=='Female']['Height'].shape[0]

d = np.sqrt(((sigma_m**2)/n1) + ((sigma_f**2)/n2))

z = (mu_m-mu_f)/d
z

95.60271449148824

In [19]:
1-norm.cdf(z)

0.0

- alpha: 0.05
- p value is low, null will go
- We reject null
- Yes male height is greater than female height

## Example-2

In [20]:
df = pd.read_csv("/content/drive/MyDrive/Probability PPTs/Hypothesis Testing -3/aerofit.csv")

In [21]:
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   KP281   18    Male         14        Single      3        4   29562    112
1   KP281   19    Male         15        Single      2        3   31836     75
2   KP281   19  Female         14     Partnered      4        3   30699     66
3   KP281   19    Male         12        Single      3        3   32973     85
4   KP281   20    Male         13     Partnered      4        2   35247     47

Test if the avg income of males and female are the same or different?

In [22]:
df[df['Gender']=='Male']['Income'].mean()

56562.75961538462

In [23]:
df[df['Gender']=='Female']['Income'].mean()

49828.90789473684

- H0: mu(male income) = mu(female income)
- H1: mu(male income) != mu(female income)

In [24]:
m1 = df[df['Gender']=='Male']['Income'].mean()
m2 = df[df['Gender']=='Female']['Income'].mean()

s1 = df[df['Gender']=='Male']['Income'].std()
s2 = df[df['Gender']=='Female']['Income'].std()

n1 = df[df['Gender']=='Male']['Income'].shape[0]
n2 = df[df['Gender']=='Female']['Income'].shape[0]


d = np.sqrt(((s1**2)/n1) + ((s2**2)/n2))

z = (m1-m2)/d
z

2.914567053824438

In [25]:
p = (1-norm.cdf(z))*2
p

0.003561822834600825

- alpha: 0.05
- p is low null will go, we reject null
- Avg income between males and females are different

## One Sample Z Proportion Test

A reports says that 30% of college students smoke. To encourage students not to smoke the college management supported campaigns to reduce the proporation of students in the college who smoke. A year later the survey was again conducted on 500 students and it 125 students were found to be smoking. At 5% significance can we say that the campaign reduced the proporation of smokers?

- H0: P>=0.3
- H1: P<0.3

In [26]:
P = 0.3
Q = 1-P
n = 500
p = 125/500
d = np.sqrt((P*Q)/n)
z = (p-P)/d
z

-2.439750182371333

In [27]:
norm.cdf(z)

0.007348710885011751

- alpha: 0.05
- p value is low, null will go, we reject null
- Yes the proportion of smokers after the campaign came down

A corporation offers five different health plans to its employees.Each year the company offers them an opportunity to switch plans.In 2021, 17% of the employees switched from one plan to another.Recent attention has increased focus on the health care plans within the company. The corporation thinks that due to this attention, more employees will switch plans this year.In a random sample of 150 employees, we find that 30 employees plan to switch plans this year.Is the proportion of employees who plan to switch higher than in 2021?Run the test at a 5% level of significance.

- H0: P<=0.17
- H1: P>0.17

In [28]:
P = 0.17
Q = 1-P
n = 150
p = 30/150
d = np.sqrt((P*Q)/n)
z = (p-P)/d
z

0.9781453110190029

In [29]:
1-norm.cdf(z)

0.16400123016611934

- alpha: 0.05
- p value is high, null will fly
- We fail to reject null
- The prop of employees looking to switch this year is same as the prop in 2021.

### Two proporation Z-Test

You are the manager of an e-commerce website, and you have recently implemented a new web page in hopes of increasing sales.

To evaluate the effectiveness of the new page, you collected data on the conversion rates for both the old and new web pages.
The conversion rate is defined as the proportion of visitors who make a purchase.

- For the old web page (Web Page A), you had **1000** visitors, resulting in **50** conversions.
- For the new web page (Web Page B), you had **500** visitors, resulting in **30** conversions.

Now, you want to determine if there is a statistically significant difference in the conversion rates between the old and new web pages.

- H0: p1 = p2
- H1: p1 != p2

In [30]:
p1 = 50/1000
p2 = 30/500

x1 = 50
n1 = 1000

x2 = 30
n2 = 500

P = (x1+x2)/(n1+n2)
Q = 1-P

d = np.sqrt((P*Q)*((1/n1)+(1/n2)))
z = (p1-p2)/d
z

-0.8125338562826986

In [32]:
(norm.cdf(z))*2

0.4164853677823287

- alpha: 0.05
- p value is high, null will fly
- We fail to reject null
- Same conversion observed for both new and old webpage

- H0: p_mil>= p_c
- H1: p_mil < p_c

In [34]:
p1 = 358/407
p2 = 6786/7363

x1 = 358
x2 = 6786

n1 = 407
n2 = 7363
P = (x1+x2)/(n1+n2)
Q = 1-P

d = np.sqrt((P*Q)*((1/n1)+(1/n2)))

z = (p1-p2)/d
z

-3.032629047594235

In [35]:
norm.cdf(z)

0.0012121670729291715

- alpha: 0.05
- p is low, null will go, we reject null
- Yes, the prop of male military doctor is less than that of male civilian doctors